.card {
  border: 2px solid #eaeaea;
  border-radius: 97px;
  padding: 159px;
  display: inline-block;
  position: relative;
  background-size: cover;
  background-position: center;
  color: #FFE;
  position: relative;
  
  
    &:nth-child(odd) {
      background-color: #f7f7f7; /* Light gray */
    }
  
    &:nth-child(even) {
      background-color: #fff9e6; /* Light cream */
    }
  
    .card-header {
      font-weight: bold;
      color: #333333; /* Dark gray font color */
      margin-bottom: 15px;
    }
  
    .card-title {
      font-size: 18px;
      color: #333333;
    }
  
    .card-text {
      color: #333333;
      font-size: 14px;
      margin-bottom: 15px;
    }
  
    .btn {
      background-color: #ffffff; /* White background */
      color: #333333; /* Dark gray font color */
      border: 1px solid #eaeaea; /* Soft gray border */
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #f0f0f0; /* Light gray on hover */
      }
    }
  }
  .card-content {
    background-color: rgba(0, 0, 0, .1); 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
  }